body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    
}
.first,.second,.third,.fourth {
    position: relative;
    width:400px;
    height:250px;
    border-radius:5px;
    top:50px;
    margin:20px 0; 
  
    
}
.Captain-America,.Iron-man,.Black-Widow,.Spider-Man {
    position: absolute;
    max-height: 300px;
    max-width:400px;
}
.first {
    background: linear-gradient(#e66465, #9198e5);
}

.second {
    background:linear-gradient(#e52d27,#b31217);
}
.third {
    background:linear-gradient(#000,#61045F)
}
.fourth {
    background:linear-gradient(#e52d27, #000);
}
.Captain-America {
    top:-45px
}
.Iron-man {
    top:-50px
}
.Black-Widow {
    top:-40px
}
.Spider-Man {
    top:-1px
}
h1 {
    font-size:21px;
    color:white;
    text-align: right;
    margin-right: 25px;
}
p {
    font-size:17px;
    color:rgba(255, 255,
    255, 0.5) ;
    text-align: right;
    margin-right: 25px;
}
